@model ProfileVM

@{
    ViewData["Title"] = "Index";
}


<div class="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">
        <div class="windows8">
            <div class="wBall" id="wBall_1">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_2">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_3">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_4">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_5">
                <div class="wInnerBall"></div>
            </div>
        </div>
    </div>
</div>
<!-- LOADING AREA  END ====== -->
<div class="page-wraper">
    <!-- HEADER START -->
    <header class="site-header header-style-2 mobile-sider-drawer-menu header-full-width">
        <div class="sticky-header main-bar-wraper  navbar-expand-lg">
            <div class="main-bar">

                <div class="container clearfix">
                    <!--Logo section start-->
                    <div class="logo-header">
                        <div class="logo-header-inner logo-header-one">
                            <a href="index-2.html">
                                <img src="~/assets/images/logo-dark.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!--Logo section End-->
                    <!-- NAV Toggle Button -->
                    <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar icon-bar-first"></span>
                        <span class="icon-bar icon-bar-two"></span>
                        <span class="icon-bar icon-bar-three"></span>
                    </button>

                    <!-- MAIN Vav -->
                    <div class="nav-animation header-nav navbar-collapse collapse d-flex justify-content-start">

                        <ul class=" nav navbar-nav">
                            <li class="has-child current-menu-item">
                                <a asp-controller="home" asp-action="index">Home</a>
                              
                            </li>

                            <li class="has-child">
                                <a href="javascript:;">Pages</a>
                                <ul class="sub-menu">
                                    <li><a asp-controller="about" asp-action="index">About us</a></li>
                                    <li>
                                        <a asp-controller="category" asp-action="index">Categories</a>
                                      
                                    </li>

                                </ul>
                            </li>

                            <li class="has-child">
                                <a asp-controller="profile" asp-action="index">Profile</a>
                            </li>

                            <li class="has-child">
                                <a asp-controller="job" asp-action="index">Jobs</a>
                                <ul class="sub-menu">
                                    <li><a asp-controller="job" asp-action="index">Job detail</a></li>
                                </ul>
                            </li>

                            <li class="has-child">
                                <a asp-controller="blog" asp-action="index">Blog</a>
                                <ul class="sub-menu">
                                    <li><a asp-controller="blog" asp-action="detail">Blog detail</a></li>
                                </ul>
                            </li>
                            <li><a asp-controller="contact" asp-action="index">Contact</a></li>
                        </ul>

                    </div>

                    <!-- Header Right Section-->
                    <div class="extra-nav header-2-nav">
                        <div class="extra-cell">
                            <!--Login-->
                            <button type="button" class="site-button aon-btn-login" data-toggle="modal" data-target="#login-signup-model">
                                <i class="fa fa-user"></i> Login
                            </button>
                            <!--Sign up-->
                            <a href="mc-profile.html" class="site-button aon-btn-signup m-l20">
                                <i class="fa fa-plus"></i> Add Listing
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </header>
    <!-- HEADER END -->
    <!-- Content -->
    <div class="page-content">
        <!--Top Banner Section Start-->
        <div class="sf-profile-banner-full">
            <div class="container sf-proBnrfull-container">
                <div class="sf-proBnrfull-row">
                    <!--Top Banner Left-->
                    <div class=" sf-proBnrfull-left">
                    </div>
                    <!--Top Banner Right-->
                    <div class=" sf-proBnrfull-right">
                        <h2 class=" sf-proBnrfull-heading">Hire Experts & Get Your Job Done </h2>
                        <div class=" sf-proBnrfull-tagline">We Provide best Job services</div>
                    </div>
                </div>
            </div>
        </div>
        <!--Top Banner Section End-->
        <!--Nav Section Start-->
        <div class="sf-page-scroll-wrap sf-page-scroll-wrap2">
            <div class="container">
                <div class="sf-page-scroll-nav clearfix">
                    <ul class="clearfix">
                        <li><a href="#aon-provider-info">About</a></li>
                        <li><a href="#aon-provider-Req-quote">Request a Quote</a></li>
                        <li><a href="#aon-provider-coInfo">Contact Info</a></li>
                        <li><a href="#aon-provider-video">Video</a></li>
                        <li><a href="#aon-provider-articles">Articles</a></li>
                         <li><a href="#aon-provider-related">Related Provider</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="container">
            <!--About Provider-->
            <div class="sf-provi-bio-box cleafix margin-b-50 sf-provi-fullBox">
                <!--Left-->
                <div class="sf-provi-bio-left">
                    <div class="sf-provi-bio-info">

                        <div class="sf-provi-pic"><img src="~/assets/images/pro-pic.jpg" alt=""></div>
                        <div class="sf-provi-gallery">
                            @foreach (var item in  Model.Category.Take(1))
                            {

                                <a class="elem pic-long" href="~/assets/images/popular-categories/@item.ImageUrl">Photos</a>
                            }
                            @foreach (var item in Model.Category.Skip(1))
                            {

                                <a class="elem pic-long" href="~/assets/images/popular-categories/@item.ImageUrl"></a>
                            }
                          
                        </div>
                        <div class="sf-ow-pro-rating">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star text-gray"></span>
                        </div>

                    </div>

                </div>
                <!--Right-->
                <div class="sf-provi-bio-right">

                    <h3 class="sf-provi-title">About Company</h3>
                    <div class="sf-provi-bio-text">

                        <p>@Model.AboutProvider.Desc</p>

                        
                    </div>
                     </div>



                    <div style="margin-top:120px" id="aon-provider-Req-quote" class="sf-provi-qoute-box cleafix m-b50 sf-provi-fullBox">
                        <h3 class="sf-provi-title">Request a Quote</h3>
                        <div class="sf-divider-line"></div>
                        <div class="sf-provi-qform">
                            <form asp-controller="profile" asp-action="Quote"  method="post">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input asp-for="Name" name="name" type="text" required class="form-control">
                                        <span asp-validation-for="Name"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Email</label>
                                        <input asp-for="EmailAddress" name="emailaddress" type="text" required class="form-control">
                                        <span asp-validation-for="EmailAddress"></span>
                                    </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Phone</label>
                                        <input asp-for="Phone" name="phone" type="text" required class="form-control">
                                        <span asp-validation-for="Phone"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Message</label>

                                        <input asp-for="Message" name="message" type="text" required class="form-control">
                                        <span asp-validation-for="Message"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group text-center qout-submit-btn">
                                            <input type="submit" value="Send information" class="site-button">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>

                    <!--Cotact Information-->
                    <div id="aon-provider-coInfo" class="sf-provi-coInfo-box margin-b-50 sf-provi-fullBox">
                        <h3 class="sf-provi-title">Contact Information</h3>
                        <div class="sf-divider-line"></div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="sf-provi-coInfo-map sf-provi-coInfo-map-full">
                                    <div class="gmap-area">

                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.428490145603!2d49.851756814491026!3d40.377194965968556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d079efb5163%3A0xc20aa51a5f0b5e01!2sCode%20Academy!5e0!3m2!1sen!2saz!4v1679941643202!5m2!1sen!2saz" width="300" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="sf-provi-coInfo-hour sf-list-business-hours sf-bot-divider">
                                    <ul class="list-unstyled sf-bh-wrapper">
                                        <li>
                                            <span>Monday<b>:</b></span><span>08:00 am to 06:00 pm</span>
                                            <ul class="sf-bh-breaktime"></ul>
                                        </li>
                                        <li>
                                            <span>Tuesday<b>:</b></span><span>08:00 am to 06:00 pm</span>
                                            <ul class="sf-bh-breaktime"></ul>
                                        </li>
                                        <li>
                                            <span>Wednesday<b>:</b></span><span>08:00 am to 06:00 pm</span>
                                            <ul class="sf-bh-breaktime"></ul>
                                        </li>
                                        <li>
                                            <span>Thursday<b>:</b></span><span>08:00 am to 06:00 pm</span>
                                            <ul class="sf-bh-breaktime"></ul>
                                        </li>
                                        <li>
                                            <span>Friday<b>:</b></span><span>08:00 am to 06:00 pm</span>
                                            <ul class="sf-bh-breaktime"></ul>
                                        </li>
                                        <li>
                                            <span>Saturday<b>:</b></span><span>Closed</span>
                                        </li>
                                        <li>
                                            <span>Sunday<b>:</b></span><span>Closed</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row d-flex flex-wrap a-b-none">
                                
                                    @foreach (var item in Model.Settings)
                                {

                                    <div class="col-md-6">
                                        <div class="sf-provi-coInfo-box">
                                            <h5>Place</h5>
                                            <div class="sf-provi-coInfo-text">@item.Place</div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="sf-provi-coInfo-box">
                                            <h5>Number</h5>
                                            <div class="sf-provi-coInfo-text">@item.Number</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="sf-provi-coInfo-box">
                                            <h5>EmailAddress</h5>
                                            <div class="sf-provi-coInfo-text">@item.EmailAddress</div>
                                        </div>
                                    </div>
                                }
                                </div>
                            </div>
                        </div>

                    </div>

                  

                    <!--Video-->
                    <div id="aon-provider-video" class="sf-provi-vido-box margin-b-50 sf-provi-fullBox">
                        <h3 class="sf-provi-title">Video</h3>
                        <div class="sf-divider-line"></div>
                        <div class="owl-carousel aon-video-carousel aon-owl-arrow">
                            <!-- COLUMNS 1 -->
                            <div class="item">
                                <div class="sf-video-box sf-videoBox-full">
                                    <div class="sf-video-pic" style="background-image:url(/assets/images/popular-categories/1.jpg);"> </div>
                                <a class="sf-video-play-btn mfp-video" href="https://www.youtube.com/watch?v=iqrPGtueTLE"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                            <!-- COLUMNS 2 -->
                            <div class="item">
                                <div class="sf-video-box sf-videoBox-full">
                                <div class="sf-video-pic" style="background-image:url(/assets/images/popular-categories/2.jpg);"> </div>
                                <a class="sf-video-play-btn mfp-video" href="https://www.youtube.com/watch?v=x15pKgTYspQ"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                            <!-- COLUMNS 3 -->
                            <div class="item">
                                <div class="sf-video-box sf-videoBox-full">
                                <div class="sf-video-pic" style="background-image:url(/assets/images/popular-categories/3.jpg);"> </div>
                                <a class="sf-video-play-btn mfp-video" href="https://www.youtube.com/watch?v=bcSAeKUj66k"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                            <!-- COLUMNS 4 -->
                            <div class="item">
                                <div class="sf-video-box sf-videoBox-full">
                                <div class="sf-video-pic" style="background-image:url(/assets/images/popular-categories/4.jpg);"> </div>
                                <a class="sf-video-play-btn mfp-video" href="https://www.youtube.com/watch?v=S5CoRdKM7l8"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                        <!-- COLUMNS 5 -->
                        <div class="item">
                            <div class="sf-video-box sf-videoBox-full">
                                <div class="sf-video-pic" style="background-image:url(/assets/images/popular-categories/5.jpg);"> </div>
                                <a class="sf-video-play-btn mfp-video" href="https://www.youtube.com/watch?v=BSgPBezMA_Y"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <!-- COLUMNS 6 -->
                        <div class="item">
                            <div class="sf-video-box sf-videoBox-full">
                                <div class="sf-video-pic" style="background-image:url(/assets/images/popular-categories/6.jpg);"> </div>
                                <a class="sf-video-play-btn mfp-video" href="https://www.youtube.com/watch?v=thi1s5b9_4U"><i class="fa fa-play"></i></a>
                            </div>
                        </div>

                        </div>
                    </div>

                  

                    <!--Articles-->
                    <div id="aon-provider-articles" class="sf-provi-articles-box margin-b-50 sf-provi-fullBox">
                        <h3 class="sf-provi-title">Articles</h3>
                        <div class="sf-divider-line"></div>
                        
                        <ul class="sf-provi-articles-list sf-provi-articles-full d-flex flex-wrap">
                        @foreach (var item in Model.News_Articles)
                    {
                            <li>
                                <div class="sf-provi-art-list d-flex flex-wrap">
                                    <div class="sf-provi-art-left d-flex flex-wrap">
                                        <div class="sf-provi-art-pic"><img src="~/assets/images/pro-pic/@item.ImageUrl" alt=""></div>
                                       
                                    </div>
                                    <div class="sf-provi-art-right d-flex flex-wrap">
                                        <h4 class="sf-provi-art-title">@item.Title</h4>
                                        <div class="sf-provi-art-text">@item.Desc</div>
                                  
                                    </div>
                                </div>
                            </li>

                    }
                        
                        </ul>
                    </div>

                 

                    <!--Related Provider-->
                <div id="aon-provider-related" class="sf-provi-articles-box margin-b-50 sf-provi-fullBox">
                        <h3 class="sf-provi-title">Related Provider</h3>
                        <div class="sf-divider-line"></div>

                        <div class="owl-carousel aon-ow-provi-related aon-owl-arrow">
                            @foreach (var item in Model.Category)
                        {
                                 <div class="item">
                                <div class="aon-ow-provider-wrap">
                                    <div class="aon-ow-provider">

                                        <div class="aon-ow-top">
                                            <div class="aon-pro-check"><span><i class="fa fa-check"></i></span></div>
                                            <div class="aon-pro-favorite"><a href="/Job?s=&categoryid=@item.Id"><i class="fa fa-heart-o"></i></a></div>
                                            <div class="aon-ow-info">
                                                <h4 class="aon-title">@item.Name</h4>
                                                <span>Queens, United States</span>
                                            </div>
                                        </div>
                                        <div class="aon-ow-mid">
                                            <div class="aon-ow-media">
                                                <img src="~/assets/images/popular-categories/@item.ImageUrl" alt="">
                                            </div>
                                         
                                            <div class="aon-ow-pro-rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star text-gray"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="aon-ow-bottom">
                                        <a href="#">Request A Quote</a>
                                    </div>
                                </div>
                            </div>
                        }
                            <!-- COLUMNS 1 -->
                       
                        </div>
                     </div>
                   </div>

