@model HomeVM

@{
    ViewData["Title"] = "Index";
}

        <div class="page-content">

            <section class="aon-banner-wrap">
         
            <div class="aon-banner-outer sf-overlay-wrapper">
                <div class="aon-banner-pic">
                    <div class="aon-curve-area"></div>
                    <div class="aon-overlay-main" style="opacity:0.85; background-color:#022278;"></div>
                    <img src="~/assets/images/banner/@Model.Slider.ImageUrl" width="1919" height="976" alt="">
                </div>
                <div class="aon-banner-text">
                    <div class="container">
                        <div class="aon-bnr-write">
                            <h2 class="text-top-line">@Model.Slider.Title </h2>

                        <h2 class="text-bot-line">@Model.Slider.Desc </h2>
                        </div>
                    </div>
                </div>
            </div>
       
         
              
                <div class="aon-find-bar aon-findBar-vertical">
                  <div class="container">
              
                    <div class="search-form ">
                      <form asp-action="Index" asp-controller="Job" class="clearfix search-providers" method="get">
                        <input type="hidden" name="s" value="">

                          <div class="aon-searchbar-table">

                          <div class="aon-searchbar-left">
                            <ul class="clearfix sf-searchfileds-count-5">
                          

                              <li>
                                <label>Category</label>
                                        <select id="categoryid" name="categoryid" class="form-control sf-form-control aon-categories-select sf-select-box" title="Select Category">
                                   @foreach (var item in Model.Category)
                                            {
                                     <option value="@item.Id" data-content="
                                      <span class='childcat'>@item.Name</span>">@item.Name
                                    </option>
                                            }
                      

                                 </select>
                                <span class="sf-search-icon"><img src="~/assets/images/search-bar/maintenance.png" alt=""/></span>
                              </li>
                           
                              <li>
                                <label>City</label>
                                        <select class="sf-select-box form-control sf-form-control bs-select-hidden" data-live-search="true" name="cityid" id="cityid" title="City" data-header="Select a City">
                                @foreach (var item in Model.City)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                </select>
                                <span class="sf-search-icon"><img src="~/assets/images/search-bar/city.png" alt=""/></span>
                              </li>
                            </ul>
                          </div>
                          <div class="aon-searchbar-right">
                            <button type="submit" class="site-button"><i class="fa fa-search"></i> Find Provider</button>
                          </div>

                        </div>

                      </form>
                    </div>
                  </div>
                </div>

            </section>
            <section class="bg-white aon-categories-area sf-curve-pos">
                <div class="container">

                    <div class="section-head">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <span class="aon-sub-title">categories</span>
                                <h2 class="aon-title">Popular Categories</h2>
                            </div>
                            <div class="col-lg-6 col-md-12">
                            </div>
                        </div>
                    </div>

                    <div class="section-content">
                        <div class="owl-carousel categories-carousel-owl aon-owl-arrow">

                  @await Component.InvokeAsync("Category")
                      
                    
                         
                        </div>
                    </div>

                </div>
            </section>



    <div class="site-bg-primary aon-statics-area sf-curve-pos">
        <div class="container">

            <div class="section-content">
                <div class="row d-flex flex-wrap align-items-center a-b-none">
                    <div class="col-lg-6 col-md-12">
                        <!--Title Section Start-->
                        <div class="section-head">
                            <span class="aon-sub-title">Statics</span>
                            <h2 class="sf-title">Trusted by thousands of people all over the world</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
                        </div>
                        <!--Title Section End-->
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <!--Statics-blocks Section Start-->
                        <div class="aon-statics-blocks">
                        @await Component.InvokeAsync("Static");
                        <!--Statics-blocks Section End-->
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

          
            <div class="aon-news-section-wrap sf-curve-pos">
                <div class="container">
                
                    <div class="section-head">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <span class="aon-sub-title">News</span>
                                <h2 class="sf-title">Recent News Articles</h2>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                
                            </div>
                        </div>
                    </div>
                  
                    <div class="section-content">
                        <div class="row">

                      
                          @await Component.InvokeAsync("Article");
                      

                        </div>
                    </div>
                </div>
            </div>  



            <div class="aon-whycoose-area sf-curve-pos">
                <div class="container-fluid">
                    <div class="sf-whycoose-section">
                        <div class="row sf-w-choose-bg-outer d-flex flex-wrap a-b-none">
                           
                            <div class="col-md-7 margin-b-50 sf-w-choose-left-cell">
                                <div class="sf-w-choose-info-left">
                                     <div class="section-head">
                                        <div class="row">
                                            <div class="col-md-12  margin-b-50">
                                                <span class="aon-sub-title">Choose</span>
                                                <h2 class="sf-title">Why Choose us</h2>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                            </div>

                                    @await Component.InvokeAsync("Choose");
                                        </div>

                                    </div>


                                 
                                 
                                </div>
                            </div>
                            <div class="col-md-5 sf-w-choose-bg-wrap sf-w-choose-right-cell">
                                <div class="sf-w-choose-bg" style="background-image: url(/assets/images/background/bg1.jpg);"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


  
    <!-- Testimonial Section -->
    <div class="aon-testmonials-area sf-curve-pos">
        <div class="container">
            <!--Title Section Start-->
            <div class="section-head">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <span class="sf-sub-title">Testimonial</span>
                        <h2 class="sf-title">What People Say</h2>
                    </div>
                    <div class="col-lg-6 col-md-12">
                       
                    </div>
                </div>
            </div>
            <!--Title Section End-->
            
                                    @await Component.InvokeAsync("People");

    </div>
    <!-- Testimonial Section END -->
</div>