@model FooterVM

<footer class="site-footer footer-light">

    <!-- FOOTER NEWSLETTER START -->
    <div class="footer-top-newsletter">
        <div class="container">
            <div class="sf-news-letter">
                <span>Subscribe Our Newsletter</span>
                <form asp-action="Subscribes" asp-controller="Home" method="post">

                    <div class="form-group sf-news-l-form">
                        <input type="text" class="form-control" name="email" placeholder="Enter Your Email">
                        <button type="submit" class="sf-sb-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- FOOTER BLOCKES START -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <!-- Footer col 1-->
                <div class="col-lg-3 col-md-6 col-sm-6  m-b30">
                    <div class="sf-site-link sf-widget-link">
                        <h4 class="sf-f-title">Site Links</h4>
                        <ul>
                            <li><a asp-controller="home" asp-action="index">Home</a></li>
                            <li><a asp-controller="about" asp-action="index">About Us</a></li>
                            <li><a asp-controller="category" asp-action="index">Categories</a></li>
                            <li><a asp-controller="profile" asp-action="index">Profile</a></li>
                            <li><a asp-controller="job" asp-action="index">Job</a></li>
                            <li><a asp-controller="blog" asp-action="index">Blog</a></li>
                            <li><a asp-controller="contact" asp-action="index">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Footer col 2-->
                <div class="col-lg-3 col-md-6 col-sm-6  m-b30">
                    <div class="sf-site-link sf-widget-cities">
                        <h4 class="sf-f-title">Popular Cities</h4>
                        <ul>
                            @foreach (var item in Model.City)
                            {
                                <li><a href="all-categories.html">@item.Name</a></li>
                            }

                           

                        </ul>
                    </div>
                </div>
                <!-- Footer col 1-->
                <div class="col-lg-3 col-md-6 col-sm-6  m-b30">
                    <div class="sf-site-link sf-widget-categories">
                        <h4 class="sf-f-title">Categories</h4>
                        <ul>
                            @foreach (var item in Model.Category)
                            {

                                <li><a href="/Job?s=&categoryid=@item.Id">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <!-- Footer col 1-->
                <div class="col-lg-3 col-md-6 col-sm-6  m-b30">
                    <div class="sf-site-link sf-widget-contact">
                        <h4 class="sf-f-title">Contact Info</h4>
                        <ul>
                            @foreach (var item in Model.Settings)
                            {

                                <li>@item.Place</li>

                                <li>@item.Number</li>

                                <li>@item.EmailAddress</li>


                            }
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- FOOTER COPYRIGHT -->
    <div class="footer-bottom">
        <div class="container">
            <div class="sf-footer-bottom-section">
                <div class="sf-f-logo"><a href="javascript:void(0);"><img src="~/assets/images/logo-dark.png" alt=""></a></div>
                <div class="sf-f-copyright">
                    <span>Copyright 2022 | Aone Theme. All Rights Reserved</span>
                </div>

                <div class="sf-f-social">
                    <ul class="socila-box">
                        <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</footer>
<!-- FOOTER END -->
<!-- BUTTON TOP START -->
<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>

    </div>
<!-- Login Sign Up Modal -->



<div class="modal fade" id="login-signup-model">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close aon-login-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="modal-body">

                <div class="sf-custom-tabs sf-custom-new aon-logon-sign-area p-3">

                    <!--Tabs-->
                    <ul class="nav nav-tabs nav-table-cell">
                        <li><a data-toggle="tab" href="#Upcoming" class="active">Login</a></li>
                        <li><a data-toggle="tab" href="#Past">Sign up</a></li>
                    </ul>
                    <!--Tabs Content-->
                    <div class="tab-content">

                        <!--Login Form-->
                        <div id="Upcoming" class="tab-pane active">
                            <div class="sf-tabs-content">

                                <form method="post" class="aon-login-form">

                                    <div id="errormessagesLogin" class="text-danger"></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="aon-inputicon-box">
                                                    <input asp-for="Email" id="Email" class="form-control sf-form-control" name="Email" type="email" placeholder="Email">
                                                    <span asp-validation-for="Email"></span>
                                                    <i class="aon-input-icon fa fa-user"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="aon-inputicon-box">
                                                    <input asp-for="Password" id="Password" class="form-control sf-form-control" name="Password" type="password" placeholder="Password">

                                                    <span asp-validation-for="Password"></span>
                                                    <i class="aon-input-icon fa fa-lock"></i>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group d-flex aon-login-option justify-content-between">
                                                <div class="aon-login-opleft">
                                                    <div class="checkbox sf-radio-checkbox">
                                                        <input id="td2_2" name="abc" value="five" type="checkbox">
                                                        <label for="td2_2">Keep me logged</label>
                                                    </div>
                                                </div>
                                                <div class="aon-login-opright">
                                                    <a asp-controller="account" asp-action="ForgetPassword">Forget Password</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="button" id="loginformBtn" class="site-button w-100">Submit <i class="feather-arrow-right"></i> </button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--Sign up Form-->
                        <div id="Past" class="tab-pane">
                            <div class="sf-tabs-content">
                                <form id="RegisterId"  method="post"   class="aon-login-form">
                                    <div id="errormessagesRegister" class="text-danger"></div>
                                    <div id="errormessageRegister" class="text-danger"></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="aon-inputicon-box">
                                                    <input  class="form-control sf-form-control" id="FullName1" name="FullName" type="text" placeholder="Full Name">
                                                    <span asp-validation-for="FullName"></span>
                                                    <i class="aon-input-icon fa fa-user"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="aon-inputicon-box">
                                                    <input  id="UserName1" class="form-control sf-form-control" name="UserName" type="text" placeholder="User Name">
                                                    <span asp-validation-for="UserName"></span>
                                                    <i class="aon-input-icon fa fa-user"></i>
                                                </div>
                                            </div>
                                        </div>

                                    

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="aon-inputicon-box">
                                                    <input  id="Email1" class="form-control sf-form-control" name="email" type="email" placeholder="Email">
                                                    <span asp-validation-for="Email"></span>
                                                    <i class="aon-input-icon fa fa-envelope-o"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="aon-inputicon-box">
                                                    <input  id="Password1" class="form-control sf-form-control" name="password" type="password" placeholder="Password">
                                                    <span asp-validation-for="Password"></span>
                                                    <i class="aon-input-icon fa fa-lock"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="aon-inputicon-box">
                                                    <input  id="PasswordConfirm1" class="form-control sf-form-control" name="PasswordConfirm" type="password" placeholder="Confirm Password">
                                                    <span asp-validation-for="PasswordConfirm"></span>
                                                    <i class="aon-input-icon fa fa-lock"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group sign-term-con">
                                                <div class="checkbox sf-radio-checkbox">
                                                    <input id="td33" name="abc" value="five" type="checkbox">
                                                    <label for="td33">I've read and agree with your <a href="#">Privacy Policy</a> and <a href="#">Terms & Conditions</a> </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button  type="button" id="RegisterBtn" class="site-button w-100">Submit <i class="feather-arrow-right"></i> </button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/jquery-3.6.0.min.js"></script><!-- JQUERY.MIN JS -->
<script src="~/assets/js/popper.min.js"></script><!-- POPPER.MIN JS -->
<script src="~/assets/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="~/assets/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELECT -->
<script src="~/assets/js/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="~/assets/js/magnific-popup.min.js"></script><!-- MAGNIFIC-POPUP JS -->
<script src="~/assets/js/waypoints.min.js"></script><!-- WAYPOINTS JS -->
<script src="~/assets/js/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="~/assets/js/waypoints-sticky.min.js"></script><!-- STICKY HEADER -->
<script src="~/assets/js/isotope.pkgd.min.js"></script><!-- MASONRY  -->
<script src="~/assets/js/owl.carousel.min.js"></script><!-- OWL  SLIDER  -->
<script src="~/assets/js/slick.min.js"></script><!-- OWL  SLIDER  -->
<script src="~/assets/js/theia-sticky-sidebar.js"></script><!-- STICKY SIDEBAR  -->
<script src="~/assets/js/m-custom-scrollbar.min.js"></script><!-- my account left panel scroller -->
<script src="~/assets/js/dropzone.js"></script><!-- Images upload -->
<script src="~/assets/js/bootstrap4-toggle.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/dataTables.bootstrap4.min.js"></script>
<script src="~/assets/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="~/assets/js/lc_lightbox.lite.js"></script><!-- IMAGE POPUP -->
<script src="~/assets/js/bootstrap-slider.min.js"></script><!-- Form js -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js" integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $("#loginformBtn").on("click", function () {
        var email = $("#Email").val();
        var password = $("#Password").val();
        var bodyFormData = new FormData();

        bodyFormData.append('Email', email);
        bodyFormData.append('Password', password);
        bodyFormData.append('RememberMe', false);

        axios({
            method: "post",
            url: "/Account/Login/",
            data: bodyFormData,
            headers: { "Content-Type": "multipart/form-data" },
        }).then(function (response) {
            if(response.data == "1"){
                $(location).attr('href', '/Home');
            }
            $("#errormessagesLogin").text(response.data)

            console.log(response);
            }).catch(function (response) {
                console.log(response);
            });
    })


    $("#RegisterBtn").on("click", function () {
        var FullName1 = $("#FullName1").val();
        var UserName1 = $("#UserName1").val();
        var email1 = $("#Email1").val();
        var password1 = $("#Password1").val();
        var ConfirmPassword1 = $("#PasswordConfirm1").val();
        var bodyFormData = new FormData();

        bodyFormData.append('Email', email1);
        bodyFormData.append('Password', password1);
        bodyFormData.append('FullName', FullName1);
        bodyFormData.append('UserName', UserName1);
        bodyFormData.append('PasswordConfirm', ConfirmPassword1);

        //bodyFormData.append('RememberMe', false);

        axios({
            method: "post",
            url: "/Account/Register/",
            data: bodyFormData,
            headers: { "Content-Type": "multipart/form-data" },
        }).then(function (response)
        {
            console.log(response.data)
            if (response.data == "1") {
                $(location).attr('href', '/Home');
            }
            $("#errormessagesRegister").text(response.data)

            console.log(response);
        }).catch(function (response) {
            console.log(response);
        });
    })

   


</script>
@if (TempData["Error"] != null)
{
    <script>
        alert("@TempData["Error"]");
    </script>
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
