

@model CategoryVM

@{
    ViewData["Title"] = "Index";
}


<div class="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">
        <div class="windows8">
            <div class="wBall" id="wBall_1">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_2">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_3">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_4">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_5">
                <div class="wInnerBall"></div>
            </div>
        </div>
    </div>
</div>
<!-- LOADING AREA  END ====== -->
<div class="page-wraper">
    <!-- HEADER START -->
    <header class="site-header header-style-2 mobile-sider-drawer-menu header-full-width">
        <div class="sticky-header main-bar-wraper  navbar-expand-lg">
            <div class="main-bar">

                <div class="container clearfix">
                    <!--Logo section start-->
                    <div class="logo-header">
                        <div class="logo-header-inner logo-header-one">
                            <a href="index-2.html">
                                <img src="~/assets/images/logo-dark.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!--Logo section End-->
                    <!-- NAV Toggle Button -->
                    <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar icon-bar-first"></span>
                        <span class="icon-bar icon-bar-two"></span>
                        <span class="icon-bar icon-bar-three"></span>
                    </button>

                    <!-- MAIN Vav -->
                    <div class="nav-animation header-nav navbar-collapse collapse d-flex justify-content-start">

                        <ul class=" nav navbar-nav">
                            <li class="has-child current-menu-item">
                                <a asp-controller="home" asp-action="index">Home</a>
                                <ul class="sub-menu">
                                </ul>
                            </li>

                            <li class="has-child">
                                <a href="javascript:;">Pages</a>
                                <ul class="sub-menu">
                                    <li><a asp-controller="about" asp-action="index">About us</a></li>
                                    <li>
                                        <a asp-controller="category" asp-action="index">Categories</a>

                                    </li>


                                </ul>
                            </li>

                            <li class="has-child">
                                <a asp-controller="profile" asp-action="index">Profile</a>

                            </li>

                            <li class="has-child">
                                <a asp-controller="job" asp-action="index">Jobs</a>
                                <ul class="sub-menu">
                                    <li><a asp-controller="job" asp-action="jobdetail">Job detail</a></li>
                                </ul>
                            </li>

                            <li class="has-child">
                                <a asp-controller="blog" asp-action="index">Blog</a>
                                <ul class="sub-menu">
                                    <li><a asp-controller="blog" asp-action="detail">Blog detail</a></li>
                                </ul>
                            </li>
                            <li><a asp-controller="contact" asp-action="index">Contact</a></li>
                        </ul>

                    </div>

                    <!-- Header Right Section-->
                    <div class="extra-nav header-2-nav">
                        <div class="extra-cell">
                            <!--Login-->
                            <button type="button" class="site-button aon-btn-login" data-toggle="modal" data-target="#login-signup-model">
                                <i class="fa fa-user"></i> Login
                            </button>
                            <!--Sign up-->
                            <a href="mc-profile.html" class="site-button aon-btn-signup m-l20">
                                <i class="fa fa-plus"></i> Add Listing
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </header>
    <!-- HEADER END -->
    <!-- Content -->
    <div class="page-content">

        <div class="section-content sf-allCaty-info-wrap">
            <div class="container">
                <!--Category Detail Section Start-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="sf-caty-pic">
                        </div>
                    </div>
                    <!--Category Detail Right-->
                    <div class="col-md-6">
                        <div class="sf-caty-info">
                            <div class="m-b10"><strong>Project categories</strong> / House cleaning services</div>
                            <h3>@Model.Cleaning_Services.Title</h3>
                            <div class="sf-caty-text">
                                <p>@Model.Cleaning_Services.Desc</p>
                                <p>
                                    On average, house cleaners on Zaarly cost $30 - $50 per hour per house cleaner. The price will depend on factors like size of the home, supplies needed, and special cleaning circumstances. A 2000 square foot home will typically cost $250. One-time deep cleanings will
                                    cost more and signing up for regular cleaning usually will be more cost-effective.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Category Detail Section End-->
            </div>
        </div>

        <div class="section-content sf-allCaty-grid-wrap sf-owl-arrow">
            <div class="container">
                <!--Title Section Start-->
                <div class="section-head">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="sf-title text-white">All Categories</h2>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                <!--Title Section End-->


                <div class="section-content">

                    <div class="owl-carousel owl-caty-carousel sf-owl-arrow">
                       @for (int i = 0; i < Model.Category.Count; i+=2)
                        {
                            <div class="item sf-caty-item-col ">
                                <div class="sf-catyitem-box">
                                    <div class="sf-catyitem-pic" style="background-image: url(/assets/images/popular-categories/@Model.Category[i].ImageUrl)">
                                        <span class="sf-caty-num"></span>
                                        <a href="#" class="sf-caty-link"></a>
                                    </div>
                                    <h5 class="sf-catyitem-title"><a href="categories-detail.html">@Model.Category[i].Name</a></h5>
                                </div>
                                @if (i + 1 < Model.Category.Count)
                                {
                                <div class="sf-catyitem-box">
                                        <div class="sf-catyitem-pic" style="background-image: url(/assets/images/popular-categories/@Model.Category[i+1].ImageUrl)">
                                        <span class="sf-caty-num"></span>
                                        <a href="#" class="sf-caty-link"></a>
                                    </div>
                                    <h5 class="sf-catyitem-title"><a href="categories-detail.html">@Model.Category[i+1].Name</a></h5>
                                </div>    
                                }

                            </div>
                        }

                        
                     
                    </div>

                </div>
                  

            </div>
        </div>

        <div class="section-content sf-caty-listResult-wrap">
            <div class="container">

                <div class="section-content">
                    <!--Showing results topbar Start-->
                    <div class="sf-search-result-top flex-wrap d-flex justify-content-between">
                    </div>
                    <!--Showing results topbar End-->
                    <div class="row">
                        <!--BLock 1-->
                        @foreach (var item in Model.Person)
                        {
                            <div class="col-md-6">
                                <div class="sf-vender-list-wrap">
                                    <div class="sf-vender-list-box d-flex">
                                        <div class="sf-vender-list-pic" style="background-image:url(/assets/images/testimonials/@item.ImageUrl)">
                                            <a class="sf-vender-pic-link" href="profile-full.html"></a>
                                        </div>
                                        <div class="sf-vender-list-info">
                                            <h4 class="sf-venders-title"><a href="profile-full.html">@item.Title</a></h4>
                                            <span class="sf-venders-address"><i class="fa fa-map-marker"></i>Sales Manager, United States</span>
                                            <div class="sf-ow-pro-rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star text-gray"></span>
                                            </div>
                                            <p>@item.Desc</p>
                                            <div class="sf-pro-check"><span><i class="fa fa-check"></i></span></div>
                                            <div class="sf-pro-favorite"><a href="#"><i class="fa fa-heart-o"></i></a></div>

                                            <div class="dropdown action-dropdown dropdown-left">
                                                <button class="action-button gray dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-ellipsis-v"></i></button>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }



                    </div>
                </div>
            </div>
        </div>
    </div>
